.container {
  display: grid;
  grid-template-columns: 375px;
  justify-content: center;
  text-align: center;
  color: white;
  margin-block: 30px;
  line-height: 1.5;
  @media (min-width: 1030px) {
    grid-template-columns: 380px 380px;
    justify-content: space-around;
    margin-block-start: 100px;
  }
}

.header {
  display: grid;
  justify-content: space-around;
  justify-items: center;
  grid-template-columns: 300px;
  @media (min-width: 1030px) {
    display: grid;
    grid-template-columns: 450px;
    text-align: start;
    align-items: center;
    align-content: center;
  }
}

.title {
  font-size: xx-large;
  margin-block-end: 5px;
  line-height: 1.2;
  @media (min-width: 1030px) {
    font-size: xxx-large;
  }
}

.sub-text {
  max-width: 280px;
  font-size: medium;
  @media (min-width: 1030px) {
    max-width: 450px;
    text-align: start;
  }
}

.main-form {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 330px;
  @media (min-width: 1030px) {
    display: grid;
    grid-template-columns: 550px;
  }
}

.form {
  display: grid;
  justify-items: center;
  background-color: white;
  padding-inline: 5px;
  padding-block: 20px;
  border-radius: 10px;
  &-btn {
    width: 82%;
    text-align: center;
    background: hsl(154, 59%, 51%);
    border: 0;
    color: white;
    text-indent: 0;
  }
  box-shadow: 0px 7px hsla(0, 0%, 0%, 0.163);
  @media (min-width: 1030px) {
    width: 490px;
  }
}

.footer {
  color: black;
  opacity: 0.5;
  font-size: small;
  width: 80%;
  text-align: center;
  &-terms {
    font-weight: bold;
    color: hsl(0, 100%, 74%);
    opacity: 1;
  }
}
