body {
  background-image: url("../public/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  @media (min-width: 1030px) {
    background-image: url("../public/bg-intro-desktop.png");
  }
}
